td {
    text-align: center;
    border: 1px solid black;
    padding: 3px;

}


#recipe_input {
    padding-top: 20px;
    padding-bottom: 10px;
}

#headerDiv {
    background-color: rgb(52, 132, 218);
    text-emphasis-style: bold;
    border: 3px solid red;
    text-align: center;

}

#recipename,
#recipediv,
#recipe_input {


    padding-left: 100px;
    padding-right: 100px;

}

#containerAll {
    width: 100vw;
    height: 100vh;

}


#contentDiv {
    border: 1px solid red;
    padding-top: 5%;
    padding-bottom: 5%;
}

#trial {
    display: None;
}

#tableHead {
    background-color: skyblue;
}