/* #################################################################### */
/* Header styling */

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 500px;
    width: 100vw;

}

header {
    position: fixed;
    display: flex;
    justify-content: end;
    z-index: 1;
    top: 0;
    /* background-color: yellow; */
    height: 60px;
    box-sizing: border-box;
    width: 100%;
    text-align: right;
    background-color: gray;
}

.nav-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2rem;
    align-items: center;


}

.nav-bar {
    box-sizing: border-box;
    /* background-color: limegreen; */
    display: inline;
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

    font-weight: bold;



}

.nav-burger {
    display: none;
    padding-right: 20px;

}


a {
    text-decoration: none;
    color: white;
}

.nav-bar:hover {
    box-shadow: 0 0 10px black;
}



/* footer styling */

/* ###################################################### */

footer {
    background-color: gray;
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
    padding-top: 10px;
    color: rgba(46, 42, 42, 0.596);

}







/* main content styling */
/* ######################################### */
main {
    position: absolute;
    z-index: 0;
    /* background-color: skyblue; */
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
    top: 0;
    width: 100%;
}


/* recipe */


#recipe-container {
    /* border: 1px solid black; */
    box-sizing: border-box;
    /* width: 100%; */
    /* padding-left: 100px; */
    padding-top: 20px;
    /* padding-right: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


#ingredients-info,
#selection,
#product-details {
    box-sizing: border-box;
    /* border: 1px solid red; */
    /* padding: 20px; */



}

#selection {
    font-size: 1.5rem;
}

#selection-list {
    font-size: 1.2rem;
    width: 100%;
}

#recipe-data {
    display: flex;
    /* border: 1px solid blue; */
    /* flex-wrap: wrap; */
    border-radius: 20px;
    background-color: gray;
    padding: 10px;
    width: 620px;
    justify-content: center;
    align-items: center;
    height: 300px;
    gap: 10px;


}

.recipe-info {
    /* flex: 1;
    /* Make both divs share available space equally */

    /* Prevent overflow issues */
    /* padding: 10px; */
    /* Optional: Add some spacing */
    border: 1px groove #ccc;

    /* flex-basis: calc(50% - 20px); */
    /* Optional: Add borders for visibility */
    /* border-collapse: separate; */
    /* background-color: rgb(194, 210, 205); */
    background-color: rgba(196, 186, 186, 0.86);
    border-radius: 5px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    height: 100%;
    width: 300px;

}

#ingredients-info {
    padding-top: 40px;
    align-items: start;
}

#product-details h3>span {
    text-decoration: underline;
    color: rgb(14, 14, 65);
}

#product-details span {

    font-style: italic;

    /* padding-left: 60px; */
}

h4,
h3 {
    padding: 2px;
    margin: 0.5rem;
}



table {
    /* margin: auto; */
    border: 2px solid black;
    border-radius: 10px;
}

td,
th {
    border: 1px dotted gray;
    border-collapse: collapse;
    padding: 5px;
}

thead {
    background-color: skyblue;
}

td {
    background-color: white;
    text-align: center;
}

td:first-child {
    text-align: left;
}




/* Industry Menu */

#industry-menu {
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 10px;
    margin-bottom: 10px;
    min-width: calc(100%-100px);

}

.industry {
    background-color: rgb(2, 101, 2);
    border: 1px solid rgb(224, 233, 246);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    user-select: none;
    width: 20%;
    min-width: 88px;
    max-width: 130px;
    color: rgba(255, 255, 255, 0.927);
    text-align: center;
}

.industry:hover {
    box-shadow: 0 0 5px rgb(219, 202, 202);
}

#industry-info {
    background-color: rgba(239, 243, 245, 0.915);
    min-width: calc(100%-100px);
}

#update-now {
    background-color: rgb(0, 30, 255);
    height: 30px;
    width: 150px;
    text-align: center;
    padding-top: 5px;
    border: 2px solid gray;
    user-select: none;
    border-radius: 25px;
    color: white;
}

.energy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.btn-energy-container {
    width: 100%;
}

@media only screen and (max-width: 660px) {
    #recipe-data {
        flex-direction: column;
        height: 600px;
        width: 400px;
    }

    .recipe-info {
        width: 100%;
    }
}

@media only screen and (max-width:420px) {

    th,
    td {
        font-size: 11px;
    }

    .nav-container {
        display: none;
        flex-direction: column;
        height: 150px;
        background-color: gray;
        border: 3px solid white;
        position: fixed;
        top: 50px;
        right: 10px;
        border-radius: 20px;
        ;

    }

    .nav-bar {
        width: 100%;
        text-align: start;
        border-bottom: 1px solid white;
    }

    .recipe-info,
    .ingredients-info,
    #ingredients-table {
        max-width: 98%;
    }

    #recipe-container {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
    }

    #product-details {
        padding-left: 15px;
    }

    main {
        padding-top: 50px;
    }

    .recipe-info {
        width: 240px;
    }

    .nav-burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;

    }

    .burger {
        border-top: 5px solid black;
        height: 5px;
        width: 30px;
    }


}