{% extends "recipe/layout.html" %}


<!-- header here -->
{% block main %}
<main>
    <div id="recipe-container">
        <div id="selection">
            <form id="selection-form" action="{% url 'recipe:index' %}" method="post">
                {% csrf_token %}
                {{form.recipe}}
                </select>
                <input type="submit">
            </form>
        </div>
        <div id="recipe-data">

            <div class="recipe-info" id="product-details">
                <h3>item:&emsp; <span id="recipeName">{{selected.recipe}}</span>
                </h3>
                <h4>Production cost:&emsp; <span id="recipeCost">{{selected.prodCost}}</span></h4>
                <h4>Quantity(Price):&emsp;<span id="quantityPrice">{{selected.qntyPrice}}</span></h4>
                <h4>Price:&emsp; <span id="recipePrice">{{selected.price}}</span></h4>
                <h4>Profit:&emsp; <span id="recipeProfit">{{selected.profit}}</span></h4>
                <h4>Energy Cost:&emsp; <span>{{selected.energyCost}}</span></h4>
                <h4>PE:&emsp; <span id="recipePE">{{selected.PE}}</span></h4>
            </div>


            <div class="recipe-info" id="ingredients-info">
                <table id="ingredients-table">
                    <thead id="table-head">
                        <tr>
                            <th> Item</th>
                            <th>quantity</th>
                            <th>market cost</th>
                            <th>total value</th>

                        </tr>

                    </thead>
                    <tbody>
                        {% for ingredient in ingredients%}
                        <tr>


                            <td class="itemName">{{ingredient.item_name}}</td>
                            <td class="itemQuantity">{{ingredient.quantity}}</td>
                            <td class="itemPrice">{{ingredient.price}}</td>
                            <td class="itemTotal">{{ingredient.total}}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


            </div>



        </div>

    </div>







</main>


{% endblock %}

<!-- footer here -->