{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixels-Market</title>
    <link rel="stylesheet" href="{% static 'recipe/stylesheet.css' %}">
    <script src="{% static 'recipe/resources.js' %}"></script>



</head>

<body>
    <header>
        <nav class="nav-container">
            <div class="nav-bar" id="nav-recipe">
                <a href="{% url 'recipe:index' %}">Recipe</a>

            </div>
            <div class="nav-bar" id="nav-resources">
                <a href="{% url 'recipe:resources' %}">Resources</a>

            </div>
            <div class="nav-bar" id="nav-energy">
                <a href="{% url 'recipe:energy' %}">Energies</a>

            </div>
        </nav>


        </div>

    </header>
    <main>
        {% block main %}

        <!-- content here -->

        {% endblock %}
    </main>



    <footer>
        this is a footer

    </footer>

</body>

</html>