{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixels-Market</title>
    <link rel="stylesheet" href="{% static 'recipe/stylesheet.css' %}">
    <script src="{% static 'recipe/resources.js' %}"></script>
    <link rel="shortcut icon" href="https://d31ss916pli4td.cloudfront.net/game/ui/hud/hud_icon_land.png"
        type="image/x-icon">



</head>

<body>
    <header>
        <nav class="nav-container">
            <div class="nav-bar" id="nav-recipe">
                <a href="{% url 'recipe:index' %}">Recipe</a>

            </div>
            <div class="nav-bar" id="nav-resources">
                <a href="{% url 'recipe:resources' %}">Resources</a>

            </div>
            <div class="nav-bar" id="nav-energy">
                <a href="{% url 'recipe:energy' %}">Energies</a>

            </div>
        </nav>
        <div class="nav-burger">
            <div>
                <div class="burger">

                </div>
                <div class="burger">

                </div>
                <div class="burger">

                </div>
            </div>

        </div>


        </div>

    </header>




    <main>
        {% block main %}

        <!-- content here -->

        {% endblock %}
    </main>



    <footer>
        <div>
            alright reserved 2024
        </div>
        <div>
            created by codename: kyusyer
        </div>

    </footer>

</body>

</html>